name: build

on:
  push:
    branches:
      - 'main'

jobs:

  build-alldev:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: build
        run: make build DIMG=alldev
      - name: upload
        run: make upload DIMG=alldev

  build-dood:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: build
        run: make build DIMG=dood
      - name: upload
        run: make upload DIMG=dood

  build-gocd-agent:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: build
        run: make build DIMG=gocd-agent
      - name: upload
        run: make upload DIMG=gocd-agent

  build-gocd-agent-dood:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: build
        run: make build DIMG=gocd-agent-dood
      - name: upload
        run: make upload DIMG=gocd-agent-dood

  build-gocd-agent-golang:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: build
        run: make build DIMG=gocd-agent-golang
      - name: upload
        run: make upload DIMG=gocd-agent-golang

  build-gocd-agent-java:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: build
        run: make build DIMG=gocd-agent-java
      - name: upload
        run: make upload DIMG=gocd-agent-java

  build-gocd-agent-python:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: build
        run: make build DIMG=gocd-agent-python
      - name: upload
        run: make upload DIMG=gocd-agent-python

  build-golang:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: build
        run: make build DIMG=golang
      - name: upload
        run: make upload DIMG=golang

  build-nomadcli:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: build
        run: make build DIMG=nomadcli
      - name: upload
        run: make upload DIMG=nomadcli
